Source: rtems-gesys
Section: devel
Priority: extra
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7), cdbs, rtems-debhelper,
               rtems-cexp-mvme2100, rtems-libbspext-mvme2100,
               rtems-cexp-mvme2307, rtems-libbspext-mvme2307,
               rtems-cexp-mvme3100, rtems-libbspext-mvme3100,
               rtems-cexp-mvme5500, rtems-libbspext-mvme5500,
               rtems-cexp-pc386
Rtems-Depends: rtems, rtems-libbspext, rtems-cexp
Standards-Version: 3.8.0
Homepage: http://www.slac.stanford.edu/~strauman/rtems/software.html

Package: rtems-gesys-mvme2100
Architecture: all
Depends: ${rtems:Depends}
Description: Generic loadable RTEMS OS image
 The RTEMS Generic System uses the capabilities of the CExp runtime loader
 to provide a generic bootable image.  Application specific code is
 loaded at run-time.
 .
 This package contains the generic image for the MVME2100 SBC.

Package: rtems-gesys-mvme2307
Architecture: all
Depends: ${rtems:Depends}
Description: Generic loadable RTEMS OS image
 The RTEMS Generic System uses the capabilities of the CExp runtime loader
 to provide a generic bootable image.  Application specific code is
 loaded at run-time.
 .
 This package contains the generic image for the MVME2307 SBC.

Package: rtems-gesys-mvme3100
Architecture: all
Depends: ${rtems:Depends}
Description: Generic loadable RTEMS OS image
 The RTEMS Generic System uses the capabilities of the CExp runtime loader
 to provide a generic bootable image.  Application specific code is
 loaded at run-time.
 .
 This package contains the generic image for the MVME3100 SBC.

Package: rtems-gesys-mvme5500
Architecture: all
Depends: ${rtems:Depends}
Description: Generic loadable RTEMS OS image
 The RTEMS Generic System uses the capabilities of the CExp runtime loader
 to provide a generic bootable image.  Application specific code is
 loaded at run-time.
 .
 This package contains the generic image for the MVME5500 SBC.

Package: rtems-gesys-pc386
Architecture: all
Depends: ${rtems:Depends}
Description: Generic loadable RTEMS OS image
 The RTEMS Generic System uses the capabilities of the CExp runtime loader
 to provide a generic bootable image.  Application specific code is
 loaded at run-time.
 .
 This package contains the generic image for 386 compatible CPU with standard
 PC hardware.
