#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/utils.mk

# Don't strip
DEB_DH_STRIP_ARGS := -Xusr

RV=4.9

# $1 is bsp name (ie mvme3100)
define bsprule

# This install prefix w/ arch
# This will be /usr/powerpc-rtems4.9/mvme3100 or similar
$1_bspbase=$(dir $(wildcard /usr/*-rtems$(RV)/$1/Makefile.inc))

build/rtems-gesys-$(1):: build-$(1)-stamp

build-$(1)-stamp:
	echo "build $$@"
	$(MAKE) ARCH=x-$(1) RTEMS_MAKEFILE_PATH=$$($1_bspbase) \

	touch $$@

install/rtems-gesys-$(1)::
	echo "install $$@"
	install -m 755 -d debian/tmp$$($1_bspbase)/bin
	install -m 644 x-$(1)/rtems.exe debian/tmp$$($1_bspbase)/bin/rtems.elf
	install -m 644 x-$(1)/rtems.bin debian/tmp$$($1_bspbase)/bin/rtems.boot

	install -m 755 -d debian/tmp/usr/share/doc/rtems-gesys-$(1)
	install -m 755 x-$(1)/st.sys debian/tmp/usr/share/doc/rtems-gesys-$(1)

endef

$(foreach p,$(DEB_ARCH_PACKAGES),$(eval $(call bsprule,$(p:rtems-gesys-%=%))))

common-binary-fixup-arch::
	dh_rtems

clean::
	rm -f build-*
	rm -rf x-*
	rm -f builddate.c ctrlx.c ldep/ldep pairxtract.c pathcheck.c

info:
	echo "$(DEB_ARCH_PACKAGES)"
